**/target/

!**/dist/

**/*.class

**/nbproject/private/
**/.nb-gradle/
**/.settings/
**/.classpath
**/.project
**/.factorypath

**/.idea/
**/*.iml

**/.DS_Store
**/Thumbs.db

**/nbactions.xml
**/nb-configuration.xml
